<footer style='text-align:center; font-size: .75rem;'>
  <a
    href=''
    style='margin: 20px 0 20px 0; color: #83A2D0; text-decoration: none;'
  >help.apexxia.co</a>
  <p style='margin-bottom: 5px;'>Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Dolorum, nobis.</p>
  <p><a href='' style='color: #83A2D0;'>Terms of Service</a>
    |
    <a href='' style='color: #83A2D0;'>Privacy Policy</a></p>
</footer>