<header style='margin-top: 30px; margin-bottom: 30px;'>
  <div>
    <img
      src='../../images/apexxia logo - dark.svg'
      alt='wallie logo'
      style='width: 110px; padding: 5px'
    />
  </div>
</header>